[submodule "thirdparty/cudaKDTree"]
	path = thirdparty/cudaKDTree
	url = https://github.com/ingowald/cudaKDTree.git
[submodule "thirdparty/rply"]
	path = thirdparty/rply
	url = https://github.com/diegonehab/rply.git
